<div class="hero">
  <div class="overlay">
    <h1>Welcome to Student Management System</h1>

    <div class="buttons">
      <%= link_to "Admin Login", admin_path, class: "btn admin-btn" %>
      <%= link_to "Student", student_path, class: "btn student-btn" %>
    </div>
  </div>
</div>